<template>
    <div class="content">
        <div class="main">
            <tank v-for="item in userTank.arr" :key="item.key" tankType="user" :tankDatas="item"></tank>
            <tank v-for="item in enemyTank.arr" :key="item.key" tankType="enemy" :tankDatas="item"></tank>
            <bullet v-for="item in userBullet.arr" :key="item.key" :bulletDatas="item" ></bullet>
            <bullet v-for="item in enemyBullet.arr" :key="item.key" :bulletDatas="item" ></bullet>
        </div>
        <button @click="change">动测</button>
    </div>
</template>

<script setup lang="ts">
import { reactive, ref } from 'vue';
import tank from '../../components/tank.vue'
import bullet from '../../components/bullet.vue'

import Bullet from '../../game/bullet'
import Tank from '../../game/tank';
import type { ITank, IBullet } from '../../types/index'
import {setKey} from '../../utils/comm'
// import time



// 游戏状态 是否游戏中
let isPlaying = ref(false)
// 用户坦克数据
const userTank: { arr?: ITank[] } = reactive({})
// 用户子弹数据
const userBullet: { arr?: IBullet[] } = reactive({})
// 敌方坦克数据
const enemyTank:{ arr?: ITank[] } = reactive({})
// 敌人子弹数据
const enemyBullet: { arr?: IBullet[] } = reactive({})



// 初始坦克数据  user  enemy
const tankDatas: { user: ITank, enemy: ITank[] } = {
    user: {
        position: [187.5, 375],
        direction: 'ArrowUp',
        isMoving: false,
        isShow:true,
        key: 'user'+setKey(),
        shootDelay:800
    },
    enemy:[
        {
            position: [187.5,0],
            direction: 'ArrowDown',
            isMoving: false,
            isShow:true,
            shootDelay:2000,
            key:'enemy0'+setKey() 
        },
        {
            position: [0,0],
            direction: 'ArrowDown',
            isMoving: false ,
            isShow:true,
            shootDelay:3000,
            key:'enemy1'+setKey()  
        },
        {
            position: [375,0],
            direction: 'ArrowDown',
            isMoving: false,
            isShow:true,
            shootDelay:1200,
            key:'enemy2'+setKey()   
        }
    ]
}
// tank实例
const TankHandler = new Tank()
const BulletHandler = new Bullet()

// 敌方坦克 移动ai
const moveAi = (tankArr:ITank[])=>{
    if(tankArr){
        for(let tank of tankArr){
        if(!tank.isMoving){
            changeDirection(tank)
        }
        TankHandler.move(tank)
    }
    }
    
    
}
const directionArr1 = ['ArrowUp', 'ArrowRight', 'ArrowDown', 'ArrowLeft']
const changeDirection = (tank:ITank)=>{
    let num1 = Math.random()
    let num2 = Math.random()
    let directionArr = [...directionArr1]
    if(tank){
        // let directionArr = ['ArrowUp', 'ArrowRight', 'ArrowDown', 'ArrowLeft']
        if(num1>0.8){
            if(num2<0.25){
                tank.direction = directionArr[0]
            }
            else if( num2<0.5 && num2 >=0.25){
                tank.direction = directionArr[1]
            }
            else if( num2<0.75&& num2>=0.5){
                tank.direction = directionArr[2]
            }
            else{
                tank.direction = directionArr[3]
            }
        }
    }
}
// 敌方坦克 射击ai
const shootAI = (tankArr:ITank[])=>{
    for(let tank of tankArr){
        if (tank.shootDelay != 0) {
                // shootDelay射击延迟 把坦克射击延迟置为0 过了延迟时间后在恢复
                TankHandler.shootDelay(tank)
                BulletHandler.creatBullet(enemyBullet,tank)
            //    console.log(enemyBullet)
            }
    }
        
}

// 监听按键 移动玩家坦克  和 玩家射击
const keyBorad = async () => {
    const directionArr = ['ArrowUp', 'ArrowRight', 'ArrowDown', 'ArrowLeft']
    window.onkeydown = (val) => {
        // 游戏开始状态 和 按键 上下左右按键按下 和 用户数据是否存在 让玩家坦克移动
        // console.log(val.key)
        if (directionArr.find((value) => { return value === val.key }) && userTank && isPlaying.value) {
            // 为了支持两个玩家 
            for (let i in userTank.arr) {
                userTank.arr[Number(i)].direction = val.key
                TankHandler.move(userTank.arr[Number(i)])
            }
        }
        // 玩家a/A键射击
        if ((val.key === 'a' || val.key === 'A') && isPlaying.value && userTank) {
            // console.log(userTank.arr[0].shootDelay)
            if (userTank.arr &&(userTank.arr[0].shootDelay != 0)) {
                // shootDelay射击延迟 把坦克射击延迟置为0 过了延迟时间后在恢复
                TankHandler.shootDelay(userTank.arr[0])
                BulletHandler.creatBullet(userBullet,userTank.arr[0])
               
            }

        }
    }
}

// 子弹射击 后自动移动
let bulletMove = async ()=>{
    await setInterval(() => {
        if(enemyTank.arr){
            shootAI(enemyTank.arr)
            moveAi(enemyTank.arr)
        }
        if(enemyBullet.arr){
            BulletHandler.deleteBullet(enemyBullet.arr)
            if(userTank.arr){
                TankHandler.deleteTank(userTank.arr)
            }
            enemyBullet.arr.forEach(val=>{
                BulletHandler.move(val)
            })
            if(userTank.arr){
                // isHit 判断是否击中 击中把 击中的子弹和坦克 的isShow都置为false
                BulletHandler.isHit(enemyBullet.arr,userTank.arr)
            }
        }
        if (userBullet.arr) {
            // 删除移动子弹后 应该消失的子弹
            BulletHandler.deleteBullet(userBullet.arr)
            // 删除被击中的坦克
            if(enemyTank.arr){
                TankHandler.deleteTank(enemyTank.arr)
            }
            //  移动每颗子弹
            userBullet.arr.forEach(val => {
                BulletHandler.move(val)
            })
            // 移动之后判断是否击中目标（用户子弹）
            if(enemyTank.arr){
                // isHit 判断是否击中 击中把 击中的子弹和坦克 的isShow都置为false
                BulletHandler.isHit(userBullet.arr,enemyTank.arr)
            }
        }
    },5)
}
const startGame = ()=>{
    isPlaying.value = true
    // console.log('start')
    TankHandler.creatTank(userTank,tankDatas.user)
    TankHandler.creatTank(enemyTank,tankDatas.enemy[0])
    TankHandler.creatTank(enemyTank,tankDatas.enemy[1])
    TankHandler.creatTank(enemyTank,tankDatas.enemy[2])
    setInterval(()=>{
        let num = Math.random()
        console.log('newTank')
        if(num<0.33){
            TankHandler.creatTank(enemyTank,tankDatas.enemy[0])
        }
        else if( num <0.66){
            TankHandler.creatTank(enemyTank,tankDatas.enemy[1])
        }
        else{
            TankHandler.creatTank(enemyTank,tankDatas.enemy[2])
        }
    },5000)
    if(enemyTank.arr){
        moveAi(enemyTank.arr)
    }
    
    keyBorad()
    // keyBorad1()
    bulletMove()
}

startGame()
// console.log(userTank)



const xy: [number, number] = reactive([50, 100])
const change = () => {
    xy[0] = xy[0] + 50
   

}

</script>

<style scoped lang="scss">
.content {
    width: 500px;
    height: 550px;
    background-color: #2c379b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.main {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
}

button {
    width: 200px;
    height: 30px;
    background-color: aliceblue;
}
</style>