<template>
    <div class="bullet" 
    v-if="props.bulletDatas"
    :style="`top:${props.bulletDatas.position[1]}px;left:${props.bulletDatas.position[0]}px`">
    </div>
</template>

<script setup lang="ts">
    import type { IBullet } from '../types';
    const  props = defineProps<{bulletDatas:IBullet}>()
</script>
<style scoped lang="scss">
    .bullet{
        width: 5px;
        height: 5px;
        background-color: red;
        position: absolute;

        transition-duration: 0.1s; // 过度时间
        transition-property: top,left; // 过度元素 默认为all
        transition-delay: 0s; // 延迟时间
        transition-timing-function: linear; // 过度曲线函数 linear匀速
    }
</style>