




<template>
    <div class="user-tank" v-if="props.tankDatas && tankDatas.isShow" :style="`top:${tankDatas.position[1]}px;left:${tankDatas.position[0]}px`">
    </div>
</template>

<script setup lang="ts">
    import type { ITank } from '../types';
    const  props = defineProps<{tankDatas:ITank}>()
    
</script>
<style lang="scss" scoped>
.user-tank{
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: black;
    color: aliceblue;
   
    transition-duration: 0.25s; // 过度时间
    transition-property: top,left; // 过度元素 默认为all
    transition-delay: 0s; // 延迟时间
    transition-timing-function: linear; // 过度曲线函数 linear匀速
}
</style>