<script setup lang="ts">

</script>

<template>
  <router-view></router-view>
</template>

<style scoped lang="scss">
  *{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
  }
</style>
